body{
    background-color: rgb(243, 240, 240);
}
.container{
    width: 50%;
}
.row{
    margin-top: 10px;
    padding-top: 10px;
}
.form-group{
    margin-top: 10px;
    padding-top: 10px;
}
#btn{
    margin: auto;
    color: white;
    background-color: rgb(53, 50, 50);
}
#btn:hover{
    color: black;
    background-color:rgb(182, 174, 174);
    transition: 0.3s;
}
